
.projectArticle {
    border: 1px solid rgba(49, 49, 49, 0.1921568627);
    transition: background-color 0.2s;

    img {
        aspect-ratio: 300 / 250;
        max-width: 30rem;
        width: 100%;

        border-bottom: 1px solid rgba(49, 49, 49, 0.1921568627);
    }
    p {
        transition: color 0.2s;
        color: #313131;
        padding: 0.5rem;
        font-weight: 500;
    }

    &:hover {
        background-color: var(--bleu);

        p {
            color: white;
        }
    }
}
