
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Fira Code';
    color: var(--black);
    background-color: #fefefe;
}

:root {
    font-size: 62.5%;
    scroll-behavior: smooth;

    --bleu: #597ad2;
    --bleu-h: #3353aa;

    --black: #343434;
}

main {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 2rem;
}

section {
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

h1, h2, h3, h4, h5 {
    padding: 1.5rem;
    color: var(--black);
    text-align: center;
}

h1 {
    font-size: 4.5rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.4rem;
}

p {
    max-width: 80rem;
    font-size: 1.6rem;
}

button, .btn {
    background-color: var(--bleu);
    // border-radius: 1.6rem;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    margin: 2rem auto;
    padding: 1.5rem 3rem;
    transition: background-color 0.2s;
    border: none;

    &:hover {
        background-color: var(--bleu-h);  
    }
}

section:last-child {
    padding-bottom: 5rem;
}
