
header {
    z-index: 100;

    width: 100%;
    position: fixed;
    background-color: var(--bleu);
    background-color: #00000075;
    transition: 
        background-color 0.5s,
        opacity 0.3s;

    nav {
        height: 8rem;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        a {
            color: white;
            font-size: 1.6rem;
            font-weight: bold;
            text-align: center;
            width: fit-content;
            margin: 1rem;
            padding: 1.5rem 3rem;
            transition: color 0.2s;

            &:hover {
                color: #323232;
            }
        }
    }

    a.h {
        display: none;
        text-align: center;
        color: white;

        user-select: none;

        margin: 0;
        padding: 0;

        &:hover {
            color: #d7d7d7 !important;
        }
    }
}

header.color {
    background-color: var(--bleu);

    nav a {
        transition: background-color 0.2s;

        &:hover {
            color: var(--bleu-h);
        }
    }
}

@media screen and (max-width: 800px) {
    header {
        nav a:not(.h) {
            display: none;
        }
    }
    
    header:not(.color) {
        opacity: 0;
    }

    header.color {
        a.h {
            display: block;
        }
    }
}
